body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.login-container {
    background-color: #ffffffe3;
    border-radius: 10px;
    padding: 10px;
    padding-top: 1px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 100%;
    margin-top: 60%;
    border-color: #000000;

}

.login-container h2 {
    margin-bottom: 10px;
    color: #000000;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-bottom: 10px;
    color: #000000;
}

.login-form input {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-left: 15px;
    display: block;
    width: 300px;
}


.login-form .radio-group {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form .radio-group label {
    margin-right: 5px;
}

.login-form button {
    background-color: #32CD32;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.login-form button:hover {
    background-color: #45a049;
}

.login-form p {
    color: #888;
    margin-top: 15px;
}

.login-form a {
    color: #4CAF50;
    text-decoration: none;
}

.x {
    float: right;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

.x:hover {
    color: #555;
}